@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

.card {
    width: 100vw;
}


.card-score {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-radius: 0px 0px 32px 32px;
    padding: 16px 32px;
}

.card-score h1 {
    color: hsl(241, 100%, 89%);
    font-weight: 700px;
    margin-bottom: 16px;
    font-size: 16px;
}

.circle {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin-bottom: 16px;
}

.circle h2 {
    color: hsl(0, 0%, 100%);
    font-size: 48px;
    font-weight: bold;
}

.circle span {
    color: hsl(241, 100%, 89%);
}

.card-score h3 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 16px;
}

.card-score p {
    color: hsl(241, 100%, 89%);
    margin-bottom: 16px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.card-summary {
    padding: 12px 32px
}

.card-summary h2 {
    font-size: 18px;
    font-weight: 500;
}

.status {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
}

.status-name {
    display: flex;
    align-items: center;
}

.status-name img {
    margin-right: 12px;
}

.status-name span {
    font-size: 16px;
}

.sub {
    opacity: 0.5;
}

.status-1 {
    background: hsl(0, 100%, 67%, 0.2);
}

.status-1 .reaction {
    color: hsl(0, 100%, 67%);
}

.status-2 {
    background: hsl(39, 100%, 56%, 0.2);
}

.status-2 .memory {
    color: hsl(39, 100%, 56%);
}

.status-3 {
    background: hsl(166, 100%, 37%, 0.2);
}

.status-3 .verbal {
    color: hsl(166, 100%, 37%);
}

.status-4 {
    background: hsl(224, 85%, 45%, 0.2);
}

.status-4 .visual {
    color: hsl(224, 85%, 45%);
}

.button {
    width: 100%;
    height: 50px;
    border-radius: 32px;
    outline: none;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}


@media only screen and (min-width: 600px) {

    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 600px;
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 4px 2px hsl(241, 100%, 89%);
        border-radius: 32px;
    }

    .card-score {
        border-radius: 32px;
        width: 300px;
    }

    .card-summary {
        width: 300px;
    }

    .card-summary h2 {
        font-size: 24px;
        font-weight: 500;
    }
}